<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List employee</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/customer">customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee">employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order">order</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="d-flex mt-3 justify-content-center align-items-center">
        <h4>Danh Sách Employee</h4>
    </div>
    <div class="d-flex mt-3 justify-content-end align-items-end mb-3">
        <a type="button" class="btn btn-primary" th:href="@{/employee/add-form-employee}">Thêm</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>fullname</th>
            <th>dob</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
            <th>status</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee,iStat : ${employeePage.content}">
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getFullname()}"></td>
            <td th:text="${employee.getDob()}"></td>
            <td th:text="${employee.getEmail()}"></td>
            <td th:text="${employee.getPhone()}"></td>
            <td th:text="${employee.getAddress()}"></td>
            <td th:text="${employee.getStatus()}"></td>

            <td>
                <a type="button" class="btn btn-warning"
                th:href="@{/employee/delete/{employeeId}(employeeId=${employee.getId()})}">Delete</a>
                <a type="button" class="btn btn-primary" th:href="@{/employee/update/{employeeId}(employeeId=${employee.getId()})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li
                    th:class="${employeePage.hasPrevious()} ? 'page-item' : 'page-item disabled' "
            >
                <a class="page-link"
                   th:href="@{/employee(size=${employeePage.size},page=${employeePage.number})}"
                >Previous</a>
            </li>
            <li
                    th:if="${employeePage.totalPages > 0}"
                    th:each="pageNumber : ${pageNumbers}"
                    th:class="${pageNumber == employeePage.number + 1} ? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                ></a>
            </li>
            <li th:class="${employeePage.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link"
                   th:if="${employeePage.hasNext()}"
                   th:href="@{/employee(size=${employeePage.size},page=${employeePage.number + 2})}"
                >Next</a>
            </li>

        </ul>
    </nav>
</div>
<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

</body>
</html>