<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List product</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/customer">customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee">employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order">order</a>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="d-flex mt-3 justify-content-center align-items-center">
        <h4>Danh Sách Product</h4>
    </div>
    <div class="d-flex mt-3 justify-content-end align-items-end mb-3">
            <a type="button" class="btn btn-primary" th:href="@{/product/add-form-product}">Thêm</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>product_id</th>
                <th>description</th>
                <th>manufacture name</th>
                <th>name</th>
                <th>status</th>
                <th>unit</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product,iStat : ${productPage.content}">
                <td th:text="${product.product_id}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.manufacturer}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.status}">status</td>
                <td th:text="${product.unit}"></td>
                <td>
                    <a type="button" class="btn btn-warning"
                       th:href="@{/product/delete/{productId}(productId=${product.product_id})}">
                        Delete
                    </a>
                    <a type="button" class="btn btn-primary" th:href="@{/product/update/{productId}(productId=${product.product_id})}">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li
                th:class="${productPage.hasPrevious()} ? 'page-item' : 'page-item disabled' "
            >
                <a class="page-link"
                    th:href="@{/product(size=${productPage.size},page=${productPage.number})}"
                >Previous</a>
            </li>
            <li
                th:if="${productPage.totalPages > 0}"
                th:each="pageNumber : ${pageNumbers}"
                th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:href="@{/product(size=${productPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                ></a>
            </li>
            <li th:class="${productPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                <a class="page-link"
                   th:if="${productPage.hasNext()}"
                   th:href="@{/product(size=${productPage.size},page=${productPage.number + 2})}"
                >Next</a>
            </li>

        </ul>
    </nav>


</div>

<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>